# Phase 1: Business Understanding

## 1.Understand the importance of customer churn for business success.
## 2.Recognize the significance of predicting churn scores for proactive customer retention strategies.

In [832]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [833]:
df = pd.read_csv('train.csv')
df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.34,12838.38,10.0,NaN,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.16,21027.00,22.0,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.27,25239.56,6.0,567.66,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.13,24483.66,16.0,663.06,No,Yes,Yes,Solved,Poor Website,5

In [834]:
data = df

In [835]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   36992 non-null  object
 1   Name                          36992 non-null  object
 2   age                           36992 non-null  int64
 3   gender                        36992 non-null  object
 4   security_no                   36992 non-null  object
 5   region_category               31564 non-null  object
 6   membership_category           36992 non-null  object
 7   joining_date                  36992 non-null  object
 8   joined_through_referral       36992 non-null  object
 9   referral_id                   36992 non-null  object
 10  preferred_offer_types         36704 non-null  object
 11  medium_of_operation           36992 non-null  object
 12  internet_option               36992 non-null  object
 13  last_visit_time               36992 non-null  object
 14  days_since_last_login         36992 non-null  int64
 15  avg_time_spent                36992 non-null  float64
 16  avg_transaction_value         36992 non-null  float64
 17  avg_frequency_login_days      36992 non-null  object
 18  points_in_wallet              33549 non-null  float64
 19  used_special_discount         36992 non-null  object
 20  offer_application_preference  36992 non-null  object
 21  past_complaint                36992 non-null  object
 22  complaint_status              36992 non-null  object
 23  feedback                      36992 non-null  object
 24  churn_risk_score              36992 non-null  int64
dtypes: float64(3), int64(3), object(19)
memory usage: 7.1+ MB

In [836]:
data.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

# FILL NULL-VALUES :

region_category , preferred_offer_types , points_in_wallet

In [837]:
print("UNIQUE-VALUES = ", data['region_category'].unique())
print(data['region_category'].value_counts())
print("MODE = ",data['region_category'].mode())

print("*"*99)
print("*"*99)

print("UNIQUE-VALUES = ",data['preferred_offer_types'].unique())
print(data['preferred_offer_types'].value_counts())
print("MODE-FOR-preferred_offer_types" , data['preferred_offer_types'].mode())

print("*"*99)
print("*"*99)

print("MEAN-FOR-points_in_wallet" , data['points_in_wallet'].mean())

UNIQUE-VALUES =  ['Village' 'City' 'Town' nan]
region_category
Town       14128
City       12737
Village     4699
Name: count, dtype: int64
MODE =  0    Town
Name: region_category, dtype: object
***************************************************************************************************
***************************************************************************************************
UNIQUE-VALUES =  ['Gift Vouchers/Coupons' 'Credit/Debit Card Offers' 'Without Offers' nan]
preferred_offer_types
Gift Vouchers/Coupons       12349
Credit/Debit Card Offers    12274
Without Offers              12081
Name: count, dtype: int64
MODE-FOR-preferred_offer_types 0    Gift Vouchers/Coupons
Name: preferred_offer_types, dtype: object
***************************************************************************************************
***************************************************************************************************
MEAN-FOR-points_in_wallet 686.8821987429081

In [838]:
# fill-values

data['region_category'].fillna(value=data['region_category'].mode()[0],inplace=True)
data['preferred_offer_types'].fillna(value=data['preferred_offer_types'].mode()[0] , inplace=True)
data['points_in_wallet'].fillna(value=data['points_in_wallet'].mean() , inplace=True)

data.isnull().sum()

customer_id                     0
Name                            0
age                             0
gender                          0
security_no                     0
region_category                 0
membership_category             0
joining_date                    0
joined_through_referral         0
referral_id                     0
preferred_offer_types           0
medium_of_operation             0
internet_option                 0
last_visit_time                 0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
complaint_status                0
feedback                        0
churn_risk_score                0
dtype: int64

In [839]:
data.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.750000,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.34,12838.38,10.0,686.882199,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.16,21027.00,22.0,500.690000,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.27,25239.56,6.0,567.660000,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.13,24483.66,16.0,663.060000,No,Yes,Yes,Solved,Poor Website,5

In [840]:
data['joined_through_referral'].unique()

array(['No', '?', 'Yes'], dtype=object)

In [841]:
data['joined_through_referral'].value_counts()

joined_through_referral
No     15839
Yes    15715
?       5438
Name: count, dtype: int64

In [842]:
data['customer_id'].str[4:]

0            4300490044003600300030003800
1        43004900440032003100300035003700
2            4300490044003100390032003600
3        43004900440036003000330031003600
4        43004900440031003900350030003600
                       ...
36987    43004900440035003500390036003100
36988    43004900440033003500380036003600
36989        4300490044003500330034003100
36990    43004900440031003200390039003000
36991    43004900440033003600340034003200
Name: customer_id, Length: 36992, dtype: object

# REMOVE UNWANTED "fffe"

In [843]:
data['customer_id'] = data['customer_id'].str[4:]
data.head(2)

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.750000,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.34,12838.38,10.0,686.882199,Yes,No,Yes,Solved,Quality Customer Care,1

In [844]:
data['security_no'].unique()

array(['XW0DQ7H', '5K0N3X1', '1F2TCL3', ..., 'XK1IM9H', 'K6VTP1Z',
       'LBX0GLR'], dtype=object)

In [845]:
data.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.750000,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.34,12838.38,10.0,686.882199,Yes,No,Yes,Solved,Quality Customer Care,1
2,4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.16,21027.00,22.0,500.690000,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.27,25239.56,6.0,567.660000,No,Yes,Yes,Unsolved,Poor Website,5
4,43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.13,24483.66,16.0,663.060000,No,Yes,Yes,Solved,Poor Website,5

# CONVERT TO_DATATIME AND FORMAT

In [846]:
data['joining_date'] = pd.to_datetime(data['joining_date'])
#data['joining_date'] = data['joining_date'].dt.strftime("%d-%m-%Y")
data.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.750000,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.34,12838.38,10.0,686.882199,Yes,No,Yes,Solved,Quality Customer Care,1
2,4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.16,21027.00,22.0,500.690000,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.27,25239.56,6.0,567.660000,No,Yes,Yes,Unsolved,Poor Website,5
4,43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.13,24483.66,16.0,663.060000,No,Yes,Yes,Solved,Poor Website,5

In [847]:
data['Day'] = data['joining_date'].dt.day
data['Month'] = data['joining_date'].dt.month
data['Year'] = data['joining_date'].dt.year
data.drop(columns='joining_date',axis=0,inplace=True)

In [848]:
data['last_visit_time'] = pd.to_datetime(data['last_visit_time'])
data['Minute'] = data['last_visit_time'].dt.minute
data['Second'] = data['last_visit_time'].dt.second
data['Hour'] = data['last_visit_time'].dt.hour
data.drop(columns='last_visit_time',axis=0,inplace=True)

C:\Users\dodiy\AppData\Local\Temp\ipykernel_15384\2004964796.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['last_visit_time'] = pd.to_datetime(data['last_visit_time'])

# REMOVE "?"

In [849]:
data['joined_through_referral'].value_counts()

joined_through_referral
No     15839
Yes    15715
?       5438
Name: count, dtype: int64

In [850]:
data['joined_through_referral'].replace("?" , None , inplace=True)
print(data['joined_through_referral'].value_counts())
print(data['joined_through_referral'].unique())

joined_through_referral
No     15839
Yes    15715
Name: count, dtype: int64
['No' None 'Yes']

In [851]:
# fill-na

data['joined_through_referral'].fillna(value=data['joined_through_referral'].mode()[0] , inplace=True)
data.isnull().sum()

customer_id                     0
Name                            0
age                             0
gender                          0
security_no                     0
region_category                 0
membership_category             0
joined_through_referral         0
referral_id                     0
preferred_offer_types           0
medium_of_operation             0
internet_option                 0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
complaint_status                0
feedback                        0
churn_risk_score                0
Day                             0
Month                           0
Year                            0
Minute                          0
Second                          0
Hour                            0
dtype: int64

# Referral_id = remove : "xxxxxxxx" and "CID" IN every data

In [852]:
data['referral_id'].unique()

array(['xxxxxxxx', 'CID21329', 'CID12313', ..., 'CID60808', 'CID10431',
       'CID45477'], dtype=object)

In [853]:
data['referral_id'].value_counts()

referral_id
xxxxxxxx    17846
CID43705       12
CID3979        11
CID49601       10
CID15792        9
            ...
CID28755        1
CID62237        1
CID23663        1
CID23071        1
CID45477        1
Name: count, Length: 11359, dtype: int64

In [854]:
data['referral_id'].str[3:]

0        xxxxx
1        21329
2        12313
3         3793
4        xxxxx
         ...
36987    xxxxx
36988    xxxxx
36989     3838
36990    xxxxx
36991    xxxxx
Name: referral_id, Length: 36992, dtype: object

In [855]:
# remove unwanted "CID"
data['referral_id'] = data['referral_id'].str[3:]
data.head(2)

,customer_id,Name,age,gender,security_no,region_category,membership_category,joined_through_referral,referral_id,preferred_offer_types,...,past_complaint,complaint_status,feedback,churn_risk_score,Day,Month,Year,Minute,Second,Hour
0,4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,No,xxxxx,Gift Vouchers/Coupons,...,No,Not Applicable,Products always in Stock,2,17,8,2017,8,2,16
1,43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,No,21329,Gift Vouchers/Coupons,...,Yes,Solved,Quality Customer Care,1,28,8,2017,38,13,12

In [856]:
#data['referral_id'] = data['referral_id'].replace("xxxxx" , None , inplace=True)
data.shape

(36992, 29)

In [857]:
# remove "?" in medium_of_operation

print(data['medium_of_operation'].unique())
print(">"*55)
print(data['medium_of_operation'].value_counts())
print("<"*55)
print(data['medium_of_operation'].mode()[0])

['?' 'Desktop' 'Smartphone' 'Both']
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
medium_of_operation
Desktop       13913
Smartphone    13876
?              5393
Both           3810
Name: count, dtype: int64
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
Desktop

In [858]:
data['medium_of_operation'].replace('?' , None , inplace=True)
data.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                    0
membership_category                0
joined_through_referral            0
referral_id                        0
preferred_offer_types              0
medium_of_operation             5393
internet_option                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                   0
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
Day                                0
Month                              0
Year                               0
Minute                             0
Second                             0
Hour                               0
dtype: int64

In [859]:
data['medium_of_operation'].fillna(value=data['medium_of_operation'].mode()[0] , inplace=True)
data.isnull().sum()

customer_id                     0
Name                            0
age                             0
gender                          0
security_no                     0
region_category                 0
membership_category             0
joined_through_referral         0
referral_id                     0
preferred_offer_types           0
medium_of_operation             0
internet_option                 0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
complaint_status                0
feedback                        0
churn_risk_score                0
Day                             0
Month                           0
Year                            0
Minute                          0
Second                          0
Hour                            0
dtype: int64

In [860]:
data.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joined_through_referral,referral_id,preferred_offer_types,...,past_complaint,complaint_status,feedback,churn_risk_score,Day,Month,Year,Minute,Second,Hour
0,4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,No,xxxxx,Gift Vouchers/Coupons,...,No,Not Applicable,Products always in Stock,2,17,8,2017,8,2,16
1,43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,No,21329,Gift Vouchers/Coupons,...,Yes,Solved,Quality Customer Care,1,28,8,2017,38,13,12
2,4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,Yes,12313,Gift Vouchers/Coupons,...,Yes,Solved in Follow-up,Poor Website,5,11,11,2016,53,21,22
3,43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,Yes,3793,Gift Vouchers/Coupons,...,Yes,Unsolved,Poor Website,5,29,10,2016,57,50,15
4,43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,No,xxxxx,Credit/Debit Card Offers,...,Yes,Solved,Poor Website,5,12,9,2017,46,44,15

In [861]:
data['medium_of_operation'].nunique()

3

In [862]:
df_test = pd.read_csv('test.csv')
df_test.head()

data_2 = df_test

In [863]:
data_2.head(2)

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback
0,fffe43004900440031003700300030003400,Alethia Meints,50,F,OQJ1XAY,Village,Premium Membership,2015-11-02,No,xxxxxxxx,...,12,386.26,40721.44,7.0,733.83,Yes,No,No,Not Applicable,Poor Product Quality
1,fffe43004900440031003900370037003300,Ming Lopez,41,M,OUQRPKO,Village,Gold Membership,2016-03-01,No,xxxxxxxx,...,11,37.80,9644.40,9.0,726.00,Yes,No,No,Not Applicable,Poor Website

In [864]:
print("UNIQUE-VALUES = ", data_2['region_category'].unique())
print(data_2['region_category'].value_counts())
print("MODE = ",data_2['region_category'].mode())

print("*"*99)
print("*"*99)

print("UNIQUE-VALUES = ",data_2['preferred_offer_types'].unique())
print(data_2['preferred_offer_types'].value_counts())
print("MODE-FOR-preferred_offer_types" , data_2['preferred_offer_types'].mode())

print("*"*99)
print("*"*99)

print("MEAN-FOR-points_in_wallet" , data_2['points_in_wallet'].mean())



# fill-values

data_2['region_category'].fillna(value=data_2['region_category'].mode()[0],inplace=True)
data_2['preferred_offer_types'].fillna(value=data_2['preferred_offer_types'].mode()[0] , inplace=True)
data_2['points_in_wallet'].fillna(value=data_2['points_in_wallet'].mean() , inplace=True)




data_2['customer_id'] = data_2['customer_id'].str[4:]


data_2['joining_date'] = pd.to_datetime(data_2['joining_date'])
# data_2['joining_date'] = data_2['joining_date'].dt.strftime("%d-%m-%Y")

data_2['Day'] = data_2['joining_date'].dt.day
data_2['Month'] = data_2['joining_date'].dt.month
data_2['Year'] = data_2['joining_date'].dt.year
data_2.drop(columns='joining_date',axis=0 , inplace=True)

data_2['last_visit_time'] = pd.to_datetime(data_2['last_visit_time'])
data_2['Minute'] = data_2['last_visit_time'].dt.minute
data_2['Second'] = data_2['last_visit_time'].dt.second
data_2['Hour'] = data_2['last_visit_time'].dt.hour
data_2.drop(columns='last_visit_time',axis=0,inplace=True)

data_2['joined_through_referral'].replace("?" , None , inplace=True)
print(data_2['joined_through_referral'].value_counts())
print(data_2['joined_through_referral'].unique())

# fill-na
data_2['joined_through_referral'].fillna(value=data_2['joined_through_referral'].mode()[0] , inplace=True)
# remove unwanted "CID"
data_2['referral_id'] = data_2['referral_id'].str[3:]
data_2['medium_of_operation'].replace('?' , None , inplace=True)
data_2['medium_of_operation'].fillna(value=data_2['medium_of_operation'].mode()[0] , inplace=True)

UNIQUE-VALUES =  ['Village' 'Town' 'City' nan]
region_category
Town       7635
City       6792
Village    2544
Name: count, dtype: int64
MODE =  0    Town
Name: region_category, dtype: object
***************************************************************************************************
***************************************************************************************************
UNIQUE-VALUES =  ['Without Offers' 'Gift Vouchers/Coupons' 'Credit/Debit Card Offers' nan]
preferred_offer_types
Without Offers              6663
Credit/Debit Card Offers    6602
Gift Vouchers/Coupons       6495
Name: count, dtype: int64
MODE-FOR-preferred_offer_types 0    Without Offers
Name: preferred_offer_types, dtype: object
***************************************************************************************************
***************************************************************************************************
MEAN-FOR-points_in_wallet 685.9687938408409

C:\Users\dodiy\AppData\Local\Temp\ipykernel_15384\4020868558.py:39: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_2['last_visit_time'] = pd.to_datetime(data_2['last_visit_time'])

joined_through_referral
Yes    8617
No     8304
Name: count, dtype: int64
['No' 'Yes' None]

In [865]:
data_2.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joined_through_referral,referral_id,preferred_offer_types,...,offer_application_preference,past_complaint,complaint_status,feedback,Day,Month,Year,Minute,Second,Hour
0,43004900440031003700300030003400,Alethia Meints,50,F,OQJ1XAY,Village,Premium Membership,No,xxxxx,Without Offers,...,No,No,Not Applicable,Poor Product Quality,2,11,2015,19,30,7
1,43004900440031003900370037003300,Ming Lopez,41,M,OUQRPKO,Village,Gold Membership,No,xxxxx,Without Offers,...,No,No,Not Applicable,Poor Website,1,3,2016,21,16,22
2,43004900440034003800360037003000,Carina Flannigan,31,F,02J2RE7,Town,Silver Membership,No,xxxxx,Gift Vouchers/Coupons,...,No,Yes,Solved in Follow-up,No reason specified,3,3,2017,40,39,16
3,43004900440036003200370033003400,Kyung Wanner,64,M,5YEQIF1,Town,Silver Membership,Yes,8941,Credit/Debit Card Offers,...,No,Yes,No Information Available,Too many ads,18,8,2017,56,17,14
4,43004900440035003000370031003900,Enola Gatto,16,F,100RYB5,Town,No Membership,Yes,5690,Without Offers,...,Yes,Yes,Solved in Follow-up,Poor Website,5,5,2015,57,53,2

In [866]:
c_data = pd.concat([data,data_2],ignore_index=True)
c_data.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joined_through_referral,referral_id,preferred_offer_types,...,past_complaint,complaint_status,feedback,churn_risk_score,Day,Month,Year,Minute,Second,Hour
0,4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,No,xxxxx,Gift Vouchers/Coupons,...,No,Not Applicable,Products always in Stock,2.0,17,8,2017,8,2,16
1,43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,No,21329,Gift Vouchers/Coupons,...,Yes,Solved,Quality Customer Care,1.0,28,8,2017,38,13,12
2,4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,Yes,12313,Gift Vouchers/Coupons,...,Yes,Solved in Follow-up,Poor Website,5.0,11,11,2016,53,21,22
3,43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,Yes,3793,Gift Vouchers/Coupons,...,Yes,Unsolved,Poor Website,5.0,29,10,2016,57,50,15
4,43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,No,xxxxx,Credit/Debit Card Offers,...,Yes,Solved,Poor Website,5.0,12,9,2017,46,44,15

In [867]:
c_data.columns

Index(['customer_id', 'Name', 'age', 'gender', 'security_no',
       'region_category', 'membership_category', 'joined_through_referral',
       'referral_id', 'preferred_offer_types', 'medium_of_operation',
       'internet_option', 'days_since_last_login', 'avg_time_spent',
       'avg_transaction_value', 'avg_frequency_login_days', 'points_in_wallet',
       'used_special_discount', 'offer_application_preference',
       'past_complaint', 'complaint_status', 'feedback', 'churn_risk_score',
       'Day', 'Month', 'Year', 'Minute', 'Second', 'Hour'],
      dtype='object')

In [868]:
d_list = ["Name","security_no"]
c_data.drop(d_list , axis=1 , inplace=True)

In [869]:
c_data['feedback'].unique()

array(['Products always in Stock', 'Quality Customer Care',
       'Poor Website', 'No reason specified', 'Poor Product Quality',
       'Poor Customer Service', 'Too many ads', 'User Friendly Website',
       'Reasonable Price'], dtype=object)

In [870]:
c_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56911 entries, 0 to 56910
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   56911 non-null  object
 1   age                           56911 non-null  int64
 2   gender                        56911 non-null  object
 3   region_category               56911 non-null  object
 4   membership_category           56911 non-null  object
 5   joined_through_referral       56911 non-null  object
 6   referral_id                   56911 non-null  object
 7   preferred_offer_types         56911 non-null  object
 8   medium_of_operation           56911 non-null  object
 9   internet_option               56911 non-null  object
 10  days_since_last_login         56911 non-null  int64
 11  avg_time_spent                56911 non-null  float64
 12  avg_transaction_value         56911 non-null  float64
 13  avg_frequency_login_days      56911 non-null  object
 14  points_in_wallet              56911 non-null  float64
 15  used_special_discount         56911 non-null  object
 16  offer_application_preference  56911 non-null  object
 17  past_complaint                56911 non-null  object
 18  complaint_status              56911 non-null  object
 19  feedback                      56911 non-null  object
 20  churn_risk_score              36992 non-null  float64
 21  Day                           56911 non-null  int32
 22  Month                         56911 non-null  int32
 23  Year                          56911 non-null  int32
 24  Minute                        56911 non-null  int32
 25  Second                        56911 non-null  int32
 26  Hour                          56911 non-null  int32
dtypes: float64(4), int32(6), int64(2), object(15)
memory usage: 10.4+ MB

In [871]:
c_data['churn_risk_score'].mean()

3.463397491349481

In [872]:
c_data['churn_risk_score'].fillna(value=3,inplace=True)

In [873]:
categorical_list = ['gender','region_category','membership_category','joined_through_referral','referral_id','preferred_offer_types','medium_of_operation',
                   'medium_of_operation','used_special_discount','offer_application_preference','past_complaint','complaint_status','feedback','internet_option']

In [874]:
from sklearn.preprocessing import StandardScaler , LabelEncoder

scaler = StandardScaler()
encoder = LabelEncoder()

In [875]:
for col in categorical_list:
    c_data[col] = encoder.fit_transform(c_data[col])

In [876]:
c_data.head()

,customer_id,age,gender,region_category,membership_category,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,internet_option,...,past_complaint,complaint_status,feedback,churn_risk_score,Day,Month,Year,Minute,Second,Hour
0,4300490044003600300030003800,18,0,2,3,0,14368,1,1,2,...,0,1,4,2.0,17,8,2017,8,2,16
1,43004900440032003100300035003700,32,0,0,4,0,2807,1,1,1,...,1,2,5,1.0,28,8,2017,38,13,12
2,4300490044003100390032003600,44,0,1,2,1,594,1,1,2,...,1,3,3,5.0,11,11,2016,53,21,22
3,43004900440036003000330031003600,37,1,0,2,1,6941,1,1,1,...,1,4,3,5.0,29,10,2016,57,50,15
4,43004900440031003900350030003600,31,0,0,2,0,14368,0,2,1,...,1,2,3,5.0,12,9,2017,46,44,15

In [877]:
c_data['past_complaint'].unique()

array([0, 1])

In [878]:
c_data['avg_frequency_login_days'].replace('Error',0 , inplace=True)

In [879]:
corr = c_data.corr()

In [880]:
corr['churn_risk_score']

customer_id                     0.017400
age                             0.003205
gender                          0.000101
region_category                -0.016770
membership_category            -0.281261
joined_through_referral        -0.003767
referral_id                    -0.019942
preferred_offer_types           0.025424
medium_of_operation             0.025277
internet_option                -0.001128
days_since_last_login          -0.008999
avg_time_spent                 -0.016729
avg_transaction_value          -0.228387
avg_frequency_login_days        0.108322
points_in_wallet               -0.199931
used_special_discount          -0.004911
offer_application_preference   -0.024211
past_complaint                  0.008622
complaint_status                0.004008
feedback                       -0.210117
churn_risk_score                1.000000
Day                             0.003559
Month                           0.007068
Year                            0.007858
Minute                          0.002138
Second                         -0.000080
Hour                           -0.006907
Name: churn_risk_score, dtype: float64

In [881]:
from sklearn.model_selection import train_test_split

# Assuming c_data is your DataFrame containing features and target variable
x = c_data.drop('churn_risk_score', axis=1)
y = c_data['churn_risk_score']

# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

# At this point, you can apply your scaling on x_train and x_test
# Assuming 'scaler' is your scaler object
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

# MODELING

In [882]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [883]:
models_list = {
    "LogisticRegression" : LogisticRegression(),
    "SVC" : SVC(),
    "DecisionTreeClassifier" : DecisionTreeClassifier(),
    "RandomForestClassifier" : RandomForestClassifier(),
    "GradientBoostingClassifier" : GradientBoostingClassifier()
}

In [ ]:
for name , model in models_list.items():
    model = model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    
    score = model.score(x_test,y_test)
    print("MODEL-NAME = ",name)
    print("SCORE = ",score)

MODEL-NAME =  LogisticRegression
SCORE =  0.5481858912413248